.App {
  text-align: center;
}
body {
  background-color: rgb(197, 220, 240);
}
.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  align-items: center;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image {
  margin: 10 10 10 10;

  height: 500px;
  width: auto;
}
.returnStuff {
  margin: 0 auto;
  width: 50%;
}
